body{
    margin:0 auto;
    box-sizing: border-box;
    text-align: center;
    background-color: #292f4b;
    color: #f391a2;
    position: relative;

}

 #papel{
    cursor: pointer;
 }

#puntuacion{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 64px;
}
 
 #tijera{
    background-image: url("./img/tijera.jpg");
    background-size: cover;
 }

.encabezado{
   display: flex;
   justify-content: center;
}
.iconos{
   display: flex;
   justify-content: center;
}
.divider{
 border: 1px dotted black;
}

/* 
#36738e
#efefef
#ebb7a7
#ffc7c5
#fee2d7
*/

#game-over-dialog {
   font-size: 40px;
}

.iconos {
   height: 15vh;
}

#cuadro {
   border: 1px solid #36738e;
   height: 50vh;
   width: 60vw;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: absolute;
   z-index: 2;
   left:20vw;
   top: 15vh;
   background-color: #ffc7c5;
   border-radius: 12px;
}

#reset-button {
   height: 50px;
   padding: 12px;
}

#reset-button:hover {
   background-color: #36738e;
}

#jugadorcolores {
   color: #c04368;
}

#ordenadorcolores {
  color: #b7c2d9;
}

.tiradacolor {
   color:#aeacac ;
   font-size: 16px;
}